.dashboard-survey-title {
  font-size: 1.8rem;
}

.dashboard-label {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.response-label {
  font-size: 1.2rem;
}

.response-output {
  margin-top: 10px;
  font-size: 1.2rem;
}

.response-header-label {
  margin-top: 15px;
}

.dashboard-output {
  font-size: 1.2rem;
}

.date-sent-label {
  margin-top: 15px;
}

.add-icon {
  color: #ffb612 !important;
}
