.landing-nav {
  background: transparent;
  box-shadow: none;
}

.google-icon {
  margin-left: 10px;
}

.custom-nav {
  background: #000;
  min-height: 64px !important;
}

.mern-survey-logo {
  margin-left: 10px;
}
