.custom-card-action {
    height: 69px;
}

.review-label {
    font-size: 1.5rem;
    font-weight: bold;
}

.review-section {
    margin: 20px 0;
}

.review-output {
    margin-top: 10px;
}

.action-row {
    margin-bottom: 0 !important;
}

.send-icon {
    margin-left: 7px !important;
}